.hero {
    background-image: linear-gradient(to bottom left, red, yellow);
}

.city {
    flex-direction: column;
    margin-left: 200px;
    

}

.search {
    flex-direction: column;
    width: 250px;
}

#input {
    height: 40px;
    width: 200px;
    font-size: 20px;
}

#sbutton {
    height: 40px;
    width: 200px;
    font-size: 20px;
}
.cityNew {
    font-size:20px;
}
#cityName {
    /* width:800px; */
    /* flex-direction: column; */
    font-size: 45px;
    /* border: solid 2px black; */
}

/* .five {
    justify-content: flex-end;
    margin-right: 75px;
} */

.fiveday {
    flex-direction: column;
    justify-content: center;
 } 

h2{
    font-size: 20px;
    font-weight: bold;
}


.search-container {
    display: flex;
    align-items: flex-start; 
    margin-right: 20px;
}
.city {
    flex-direction: column;
}

.search-history {
    margin-top: 20px;
}

#forecast-container {
    display:flex;
    justify-content: space-between;
}

.forecast-box {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}